img {
  height: 500px;


}

.button {
  background-color: #8ca386;
  color: white;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 78.25rem;
  padding-bottom: 10.25rem;

  color: #fff;

  text-align: center;
}

@media (max-width: 576px) {
  .carousel-caption {
    padding-bottom: 2.25rem;

  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity (0.5 in this case) */
}
