<!-- <div class="card" style="width: 18rem;">
  <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <p class="card-text">Price: {{ product.price }}</p>
    <p class="card-text" [ngClass]="{'soldOut': product.quantity === 0, 'singleItem': product.quantity === 1}">
      {{
      product.quantity ===0 ?'Show no Products Avaible':
      (product.quantity===1 ? 'Only One Product Avalible':'Quantity:
      ' + product.quantity)
      }}
    </p>
    <button class="btn"
      [ngClass]="{'btn-danger': product.quantity === 0, 'btn-warning': product.quantity === 1, 'btn-success': product.quantity > 1}">
      {{ product.quantity === 0 ? 'Sold Out' : 'Buy Now' }}
    </button>
  </div>
</div> -->
