<div class="container" style="margin-top: 6rem;">
  <h2>Drink Details</h2>
  <div class="card mb-3 mt-4 g-0 ">
    <div class="row g-0">
      <div class="col-md-4 col-sm-12">
        <img [src]="product.image" class="img-fluid w-100 d-sm-none" alt="...">
        <img [src]="product.image" class="img-fluid d-none d-sm-block" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
            This content is a little bit longer.</p>
          <p class="card-text">{{"Price: " + product.price+"$"}}</p>
          <p class="card-text">{{"Quantity: "+product.quantity}}

          <p class="card-text"><small class="text-body-secondary">
              <i class="text-warning bi bi-star-fill"></i>
              <i class="text-warning bi bi-star-fill"></i>
              <i class="text-warning bi bi-star-fill"></i>
              <i class="text-warning bi bi-star-fill"></i>
              <i class="text-warning bi bi-star-fill"></i>
            </small></p>
          <p class="card-text"><small>20/12/2023</small></p>
          <p class="card-text"><small>directory by anyone</small></p>
        </div>
      </div>
    </div>
  </div>
</div>