<div class="container" style="margin-top: 6rem;">
  <h2>Book Details</h2>
  <div class="card mb-3 mt-4 g-0 ">
    <div class="row g-0">
      <div class="col-md-4 col-sm-12">
        <img [src]="product.image" class="img-fluid w-100 d-sm-none" alt="...">
        <img [src]="product.image" class="img-fluid d-none d-sm-block" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content.
            This content is a little bit longer.</p>
          <p class="card-text">{{"Price: " + product.price+"$"}}</p>
          <p class="card-text">{{"Quantity: "+product.quantity}}

          <p class="card-text"><small class="text-body-secondary">
              <i class="text-warning bi bi-star-fill"></i>
              <i class="text-warning bi bi-star-fill"></i>
              <i class="text-warning bi bi-star-fill"></i>
              <i class="text-warning bi bi-star-fill"></i>
              <i class="text-warning bi bi-star-fill"></i>
            </small></p>
          <p class="card-text"><small>20/12/2023</small></p>
          <p class="card-text"><small>directory by anyone</small></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">

  <hr class="my-5" />
  <h2 class="font-weight-bold mb-1 mt-5">Best Seller</h2>
  <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
    incididunt.</p>

  <div class="row pb-5 mb-4">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-4"><img src="../../../../assets/imags/imm1.jpg" alt=""
            class="img-fluid d-block mx-auto mb-3">
          <h5> <a href="#" class="text-dark">BookOne</a></h5>
          <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <ul class="list-inline small">
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star-fill"></i>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-4"><img src="../../../../assets/imags/imm2.jpg" alt=""
            class="img-fluid d-block mx-auto mb-3">
          <h5> <a href="#" class="text-dark">BookTwo</a></h5>
          <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <ul class="list-inline small">
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star"></i>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-4"><img src="../../../../assets/imags/imm3.jpg" alt=""
            class="img-fluid d-block mx-auto mb-3">
          <h5> <a href="#" class="text-dark"> BookThree</a></h5>
          <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <ul class="list-inline small">
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star-fill"></i>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-4"><img src="../../../../assets/imags/imm4.jpg" alt=""
            class="img-fluid d-block mx-auto mb-3">
          <h5> <a href="#" class="text-dark">BookFour</a></h5>
          <p class="small text-muted font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <ul class="list-inline small">
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star-fill"></i>
            <i class="text-success bi bi-star"></i>
          </ul>
        </div>
      </div>
    </div>
  </div>



</div>
